.nav, .pagination, .carousel a { cursor: pointer; }

.panel {
 width : 70%;
 margin-left: 20px;
 margin-top: 20px;
}

#header{
  height: 100px;
  background-color: #f5f5f5;
  font-size: 30px;
  text-align: center;
}
#header p a {
  height: 100px;
  background-color: #f5f5f5;
  font-size: 20px;
  text-align: center;
}

#content {
  margin-right: auto;
  margin-left: auto;
  width: 70%;
}

.buildstr{
  color: green;
}
