<html>
<head>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css">

</head>

<body ng-app="systestApp">

  <div ng-controller="BuildSelector">

  <div id="header">
    <span>Report Generator</span>
    <div ng-show="report_ready">
      <button class="btn btn-primary" ng-click="generateReport()"><i class="fa {{report_icon}}"></i> {{report_status}}</button>
      <p><a href={{report_url}}>{{report_url}}</a></p>
    </div>
  </div>

  <div id="content">



   <div class="panel panel-default">
     <div class="panel-heading well well-lg" >
        <h4 class="panel-title">Baseline: <span class="buildstr">{{baseline.str}}</span></h4>
     </div>

     <div class="panel-body">

       <div class="btn-group">
         <a class="btn btn-primary dropdown-toggle" href="#"><i class="fa fa-caret-square-o-down"></i> {{baseline.selectedVersion}}</a>
               <ul class="dropdown-menu">
                   <li ng-repeat="version in baseline.versions">
                         <a href="#" ng-click="versionChange(version)">{{version}}</a>
                    </li>
               </ul>
        </div>
       <div class="btn-group">
         <a class="btn btn-primary dropdown-toggle" href="#"><i class="fa fa-caret-square-o-down"></i> {{baseline.selectedTest}}</a>
               <ul class="dropdown-menu">
                   <li ng-repeat="test in baseline.tests">
                         <a href="#" ng-click="testChange(test)">{{test}}</a>
                    </li>
               </ul>
        </div>
       <div class="btn-group">
         <a class="btn btn-primary dropdown-toggle" href="#"><i class="fa fa-caret-square-o-down"></i> {{baseline.selectedBuild}}</a>
               <ul class="dropdown-menu">
                   <li ng-repeat="build in baseline.builds">
                         <a href="#" ng-click="buildChange(build)">{{build}}</a>
                    </li>
               </ul>
        </div>
      </div>
    </div><!--baseline panel-->

    <div class="panel panel-default">
     <div class="panel-heading well well-lg">
        <h4 class="panel-title">Compare: <span ng-repeat="cmp in comparisions" class="buildstr"> {{cmp.str}}  </span></h4>
     </div>
     <div class="panel-body">

       <div ng-repeat="compare in comparisions">
         <br/>
         <div class="btn-group">
           <a class="btn btn-primary dropdown-toggle" href="#"><i class="fa fa-caret-square-o-down"></i> {{compare.selectedVersion}}</a>
                 <ul class="dropdown-menu">
                     <li ng-repeat="version in compare.versions">
                           <a href="#" ng-click="versionChange(version, $parent.$index)">{{version}}</a>
                      </li>
                 </ul>
         </div>
         <div class="btn-group">
           <a class="btn btn-primary dropdown-toggle" href="#"><i class="fa fa-caret-square-o-down"></i> {{compare.selectedTest}}</a>
                 <ul class="dropdown-menu">
                     <li ng-repeat="test in compare.tests">
                           <a href="#" ng-click="testChange(test, $parent.$index)">{{test}}</a>
                      </li>
                 </ul>
         </div>
         <div class="btn-group">
           <a class="btn btn-primary dropdown-toggle" href="#"><i class="fa fa-caret-square-o-down"></i> {{compare.selectedBuild}}</a>
                 <ul class="dropdown-menu">
                     <li ng-repeat="build in compare.builds">
                           <a href="#" ng-click="buildChange(build, $parent.$index)">{{build}}</a>
                      </li>
                 </ul>
         </div>
       </div>

        </div>

        <div class="panel-footer"><button class="btn btn-small" ng-click="addComparision()"><i class="fa fa-plus"></i></button></div>
      </div> <!-- cmp panel -->
  </div> <!-- content -->
  </div> <!-- ctrl scope -->

  <script src="js/angular.min.js"></script>
  <script src="js/controller.js"></script>
  <script src="js/ui-bootstrap-tpls-0.6.0.min.js"></script>

</body>
</html>
